parameters:
    level: 7
    paths:
        - lib
        - appinfo
    bootstrapFiles:
        - vendor/autoload.php
        - stubs/sm-constants.php
    scanDirectories:
        - vendor/nextcloud/ocp
        - app/snappymail/v/current/app/libraries
        - stubs
    ignoreErrors: []

includes:
    - phpstan-baseline.neon
