parameters:
	ignoreErrors:
		-
			message: '#^Method OCA\\X2Mail\\AppInfo\\Application\:\:__construct\(\) has parameter \$urlParams with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/AppInfo/Application.php

		-
			message: '#^Call to function is_callable\(\) with ''readline'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/Command/Settings.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 2
			path: lib/Command/Setup.php

		-
			message: '#^Method OCA\\X2Mail\\Command\\Setup\:\:checkImap\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Command/Setup.php

		-
			message: '#^Method OCA\\X2Mail\\Command\\Setup\:\:checkSmtp\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Command/Setup.php

		-
			message: '#^Constant APP_VERSION not found\.$#'
			identifier: constant.notFound
			count: 1
			path: lib/Command/Status.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(OCA\\X2Mail\\ContentSecurityPolicy\) and ''useStrictDynamic'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/ContentSecurityPolicy.php

		-
			message: '#^Call to method browserSupportsCspV3\(\) on an unknown class OC\\Security\\CSP\\ContentSecurityPolicyNonceManager\.$#'
			identifier: class.notFound
			count: 1
			path: lib/ContentSecurityPolicy.php

		-
			message: '#^Call to method getNonce\(\) on an unknown class OC\\Security\\CSP\\ContentSecurityPolicyNonceManager\.$#'
			identifier: class.notFound
			count: 1
			path: lib/ContentSecurityPolicy.php

		-
			message: '#^Class OC\\Security\\CSP\\ContentSecurityPolicyNonceManager not found\.$#'
			identifier: class.notFound
			count: 1
			path: lib/ContentSecurityPolicy.php

		-
			message: '#^Method OCA\\X2Mail\\ContentSecurityPolicy\:\:getSnappyMailNonce\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: lib/ContentSecurityPolicy.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\FetchController\:\:setAdmin\(\) return type with generic class OCP\\AppFramework\\Http\\JSONResponse does not specify its types\: S, T, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Controller/FetchController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\FetchController\:\:setPersonal\(\) return type with generic class OCP\\AppFramework\\Http\\JSONResponse does not specify its types\: S, T, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Controller/FetchController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\FetchController\:\:upgrade\(\) return type with generic class OCP\\AppFramework\\Http\\JSONResponse does not specify its types\: S, T, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Controller/FetchController.php

		-
			message: '#^Property OCA\\X2Mail\\Controller\\FetchController\:\:\$appManager is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/Controller/FetchController.php

		-
			message: '#^Constant APP_VERSION_ROOT_PATH not found\.$#'
			identifier: constant.notFound
			count: 2
			path: lib/Controller/PageController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\PageController\:\:appGet\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: lib/Controller/PageController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\PageController\:\:appPost\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: lib/Controller/PageController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\PageController\:\:index\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: lib/Controller/PageController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\PageController\:\:indexPost\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: lib/Controller/PageController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\SetupController\:\:checkImap\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Controller/SetupController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\SetupController\:\:checkSmtp\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Controller/SetupController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\SetupController\:\:deleteDomain\(\) return type with generic class OCP\\AppFramework\\Http\\JSONResponse does not specify its types\: S, T, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Controller/SetupController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\SetupController\:\:getConfig\(\) return type with generic class OCP\\AppFramework\\Http\\JSONResponse does not specify its types\: S, T, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Controller/SetupController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\SetupController\:\:preflightCheck\(\) return type with generic class OCP\\AppFramework\\Http\\JSONResponse does not specify its types\: S, T, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Controller/SetupController.php

		-
			message: '#^Method OCA\\X2Mail\\Controller\\SetupController\:\:saveSetup\(\) return type with generic class OCP\\AppFramework\\Http\\JSONResponse does not specify its types\: S, T, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Controller/SetupController.php

		-
			message: '#^Access to an undefined property MailSo\\Mail\\MessageListParams\:\:\$bUseSortIfSupported\.$#'
			identifier: property.notFound
			count: 1
			path: lib/Dashboard/UnreadMailWidget.php

		-
			message: '#^Access to an undefined property OCA\\X2Mail\\Dashboard\\UnreadMailWidget\:\:\$userId\.$#'
			identifier: property.notFound
			count: 2
			path: lib/Dashboard/UnreadMailWidget.php

		-
			message: '#^Access to protected property MailSo\\Mail\\MessageListParams\:\:\$iLimit\.$#'
			identifier: property.protected
			count: 1
			path: lib/Dashboard/UnreadMailWidget.php

		-
			message: '#^Call to an undefined method MailSo\\Mail\\MailClient\:\:IsLoggined\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/Dashboard/UnreadMailWidget.php

		-
			message: '#^Call to an undefined method OCP\\EventDispatcher\\Event\:\:getAccessToken\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/Listeners/AccessTokenUpdatedListener.php

		-
			message: '#^Class OCA\\X2Mail\\Listeners\\AccessTokenUpdatedListener implements generic interface OCP\\EventDispatcher\\IEventListener but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: lib/Listeners/AccessTokenUpdatedListener.php

		-
			message: '#^Class OCA\\X2Mail\\Listeners\\LoginBridgeListener implements generic interface OCP\\EventDispatcher\\IEventListener but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: lib/Listeners/LoginBridgeListener.php

		-
			message: '#^Strict comparison using \=\=\= between OCP\\IUser and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: lib/Listeners/LoginBridgeListener.php

		-
			message: '#^Class OCA\\X2Mail\\Listeners\\TokenBridgeListener implements generic interface OCP\\EventDispatcher\\IEventListener but does not specify its types\: T$#'
			identifier: missingType.generics
			count: 1
			path: lib/Listeners/TokenBridgeListener.php

		-
			message: '#^Call to function is_callable\(\) with ''opcache_reset'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: lib/Migration/InstallStep.php

		-
			message: '#^Constant APP_PLUGINS_PATH not found\.$#'
			identifier: constant.notFound
			count: 1
			path: lib/Migration/InstallStep.php

		-
			message: '#^Constant APP_PRIVATE_DATA not found\.$#'
			identifier: constant.notFound
			count: 1
			path: lib/Migration/InstallStep.php

		-
			message: '#^Constant APP_VERSION_ROOT_PATH not found\.$#'
			identifier: constant.notFound
			count: 4
			path: lib/Migration/InstallStep.php

		-
			message: '#^Method OCA\\X2Mail\\Migration\\InstallStep\:\:run\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: lib/Migration/InstallStep.php

		-
			message: '#^Access to an undefined property MailSo\\Mail\\MessageListParams\:\:\$bUseSortIfSupported\.$#'
			identifier: property.notFound
			count: 1
			path: lib/Search/Provider.php

		-
			message: '#^Access to protected property MailSo\\Mail\\MessageListParams\:\:\$iLimit\.$#'
			identifier: property.protected
			count: 1
			path: lib/Search/Provider.php

		-
			message: '#^Access to protected property MailSo\\Mail\\MessageListParams\:\:\$iOffset\.$#'
			identifier: property.protected
			count: 1
			path: lib/Search/Provider.php

		-
			message: '#^Call to an undefined method MailSo\\Mail\\MailClient\:\:IsLoggined\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: lib/Search/Provider.php

		-
			message: '#^Method OCA\\X2Mail\\Search\\Provider\:\:getOrder\(\) has parameter \$routeParameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Search/Provider.php

		-
			message: '#^Property OCA\\X2Mail\\Search\\Provider\:\:\$l10n is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/Search/Provider.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\DomainConfigService\:\:buildDomainConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/DomainConfigService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\DomainConfigService\:\:listDomains\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/DomainConfigService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\DomainConfigService\:\:readDomainConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/DomainConfigService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\DomainConfigService\:\:sslConfig\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/DomainConfigService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\DomainConfigService\:\:writeDomainConfig\(\) has parameter \$config with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/DomainConfigService.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Service/DomainConfigService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\LogService\:\:debug\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/LogService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\LogService\:\:error\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/LogService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\LogService\:\:info\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/LogService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\LogService\:\:warning\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/LogService.php

		-
			message: '#^Method OCA\\X2Mail\\Service\\LogService\:\:write\(\) has parameter \$context with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Service/LogService.php

		-
			message: '#^Parameter \#1 \$string of function rtrim expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Service/LogService.php

		-
			message: '#^Property OCA\\X2Mail\\Settings\\AdminSection\:\:\$l is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: lib/Settings/AdminSection.php

		-
			message: '#^Constant APP_PRIVATE_DATA not found\.$#'
			identifier: constant.notFound
			count: 1
			path: lib/Settings/AdminSettings.php

		-
			message: '#^Method OCA\\X2Mail\\Settings\\AdminSettings\:\:getForm\(\) return type with generic class OCP\\AppFramework\\Http\\TemplateResponse does not specify its types\: S, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Settings/AdminSettings.php

		-
			message: '#^Method OCA\\X2Mail\\Settings\\PersonalSettings\:\:getForm\(\) return type with generic class OCP\\AppFramework\\Http\\TemplateResponse does not specify its types\: S, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Settings/PersonalSettings.php

		-
			message: '#^Method OCA\\X2Mail\\Util\\RainLoop\:\:import\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Util/RainLoop.php

		-
			message: '#^Class OCA\\X2Mail\\Util\\SnappyMailResponse extends generic class OCP\\AppFramework\\Http\\Response but does not specify its types\: S, H$#'
			identifier: missingType.generics
			count: 1
			path: lib/Util/SnappyMailHelper.php

		-
			message: '#^Constant SNAPPYMAIL_LIBRARIES_PATH not found\.$#'
			identifier: constant.notFound
			count: 1
			path: lib/Util/SnappyMailHelper.php

		-
			message: '#^Method OCA\\X2Mail\\Util\\SnappyMailHelper\:\:getLoginCredentials\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: lib/Util/SnappyMailHelper.php

		-
			message: '#^Method OCA\\X2Mail\\Util\\SnappyMailHelper\:\:startApp\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: lib/Util/SnappyMailHelper.php

		-
			message: '#^Parameter \#1 \$oAccount of method RainLoop\\Actions\:\:SetSignMeToken\(\) expects RainLoop\\Model\\MainAccount, RainLoop\\Model\\Account given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Util/SnappyMailHelper.php

		-
			message: '#^Parameter \#2 \$sValue of method MailSo\\Cache\\CacheClient\:\:Set\(\) expects string, int\<1, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: lib/Util/SnappyMailHelper.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: lib/Util/SnappyMailHelper.php

		-
			message: '#^Unsafe call to private method OCA\\X2Mail\\Util\\SnappyMailHelper\:\:getLoginCredentials\(\) through static\:\:\.$#'
			identifier: staticClassAccess.privateMethod
			count: 1
			path: lib/Util/SnappyMailHelper.php
