parameters:
    level: 7
    paths:
        - lib
        - appinfo
    bootstrapFiles:
        - vendor/autoload.php
        - stubs/sm-constants.php
    scanDirectories:
        - vendor/nextcloud/ocp
        - app/snappymail/v/current/app/libraries
        - stubs
    stubFiles:
        - stubs/MailSo/Mail/MessageListParams.php
    ignoreErrors:
        # Nextcloud Response classes (JSONResponse, TemplateResponse, Response)
        # use non-covariant generics that cannot be correctly annotated when
        # methods return multiple status codes. This is a framework limitation.
        -
            identifier: missingType.generics
            path: lib/
